﻿@model Command

@using ShockBotDb;
@{
    ViewData["Title"] = Model.Description;
}

<div>
    <h1>Details for @Model.Description:</h1>
    <h2>Triggers:</h2>
    <ul>
        @foreach (var text in Model.CommandTexts) {
            <li>@text.Text</li>
        }
    </ul>
    <h2>Responses:</h2>
    <table>
        <tr>
            <th>Number of Parameters</th>
            <th>Text</th>
            <th>Image Tag</th>
            <th>Function</th>
            <th>Extra Text Tag</th>
            <th>Failed Channel Check Text</th>
            <th>Failed Role Check Text</th>
            <th>Failed User Check Text</th>
            <th>Failed Parameter Check Text</th>
        </tr>
        @foreach (var response in Model.Responses) {
            <tr>
                <td>@response.NumParameters</td>
                <td>@response.Text</td>
                <td>@Html.ActionLink(response.FileTag?.Tag.Tag_Column ?? "", "Images", new { id = response.FileTagId })</td>
                <td>@Html.ActionLink(response.Function?.TypeName ?? "", "Functions", new { functionId = response.FunctionId })</td>
                <td>@Html.ActionLink(response.ExtraTextTag?.Tag.Tag_Column ?? "", "Texts", new { tagId = response.ExtraTextTagId })</td>
            <td>@response.FailedChannelCheckText</td>
            <td>@response.FailedRoleCheckText</td>
            <td>@response.FailedUserCheckText</td>
            <td>@response.FailedParameterCheckText</td>
        </tr>
        }
    </table>
</div>