﻿@model IEnumerable<Command>

@using ShockBotDb;
@{    
    ViewData["Title"] = "Command List";
}

<div>
    <h1>List of Commands:</h1>
    <ul>@foreach (var command in Model) {
            <li>@Html.ActionLink(command.Description, "CommandDetails", new { id = command.Id })
                <ul>@foreach (var text in command.CommandTexts) {
                    <li>@text.Text</li>
                }
                </ul>
            </li>
        }
    </ul>
</div>